{{ ansible_managed | comment }}

{{ 'General configuration' | comment }}
external_url '{{ gitlab_external_url }}'
gitlab_rails['time_zone'] = '{{ gitlab_time_zone }}'
gitlab_rails['gitlab_default_theme'] = {{ gitlab_default_theme }}

{{ 'Nginx configuration' | comment }}
nginx['enable'] = {{ gitlab_nginx_enabled | string | lower }}
{% if gitlab_nginx_enabled %}
{%   if gitlab_nginx_listen_port %}
nginx['listen_port'] = {{ gitlab_nginx_listen_port }}
{%   endif %}
nginx['redirect_http_to_https'] = {{ gitlab_nginx_redirect_http_to_https | string | lower }}
nginx['listen_https'] = {{ gitlab_nginx_listen_https | string | lower }}
{%   if gitlab_nginx_listen_https %}
nginx['ssl_certificate'] = '{{ gitlab_nginx_ssl_certificate }}'
nginx['ssl_certificate_key'] = '{{ gitlab_nginx_ssl_certificate_key }}'
nginx['ssl_ciphers'] = '{{ gitlab_nginx_ssl_ciphers }}'
nginx['ssl_protocols'] = '{{ gitlab_nginx_ssl_protocols }}'
nginx['ssl_session_cache'] = '{{ gitlab_nginx_ssl_session_cache }}'
nginx['ssl_session_timeout'] = '{{ gitlab_nginx_ssl_session_timeout }}'
{%   endif %}
{%   if gitlab_nginx_listen_addresses %}
nginx['listen_addresses'] = ['{{ gitlab_nginx_listen_addresses | join("', '") }}']
{%   endif %}
{%   if gitlab_nginx_real_ip_trusted_addresses %}
nginx['real_ip_trusted_addresses'] = ['{{ gitlab_nginx_real_ip_trusted_addresses | join("', '") }}']
{%   endif %}
nginx['real_ip_header'] = '{{ gitlab_nginx_real_ip_header }}'
nginx['real_ip_recursive'] = '{{ (gitlab_nginx_real_ip_recursive == true) | ternary('on', 'off') }}'
{% endif %}

{{ 'Email configuration' | comment }}
gitlab_rails['gitlab_email_enabled'] = {{ gitlab_email_enabled | string | lower }}
{% if gitlab_email_enabled %}
gitlab_rails['gitlab_email_from'] = '{{ gitlab_email_from }}'
gitlab_rails['gitlab_email_display_name'] = '{{ gitlab_email_display_name }}'
gitlab_rails['gitlab_email_reply_to'] = '{{ gitlab_email_reply_to }}'
{% endif %}

{{ 'SMTP configuration' | comment }}
gitlab_rails['smtp_enable'] = {{ gitlab_smtp_enabled | string | lower }}
{% if gitlab_smtp_enabled == true %}
gitlab_rails['smtp_address'] = '{{ gitlab_smtp_address }}'
gitlab_rails['smtp_port'] = {{ gitlab_smtp_port }}
{% if gitlab_smtp_user_name %}
gitlab_rails['smtp_user_name'] = '{{ gitlab_smtp_user_name }}'
{% endif %}
{% if gitlab_smtp_password %}
gitlab_rails['smtp_password'] = '{{ gitlab_smtp_password }}'
{% endif %}
gitlab_rails['smtp_domain'] = '{{ gitlab_smtp_domain }}'
{% if gitlab_smtp_authentication %}
gitlab_rails['smtp_authentication'] = "{{ gitlab_smtp_authentication }}"
{% endif %}
gitlab_rails['smtp_enable_starttls_auto'] = {{ gitlab_smtp_enable_starttls_auto | string | lower }}
gitlab_rails['smtp_tls'] = {{ gitlab_smtp_tls | string | lower }}
gitlab_rails['smtp_openssl_verify_mode'] = '{{ gitlab_smtp_openssl_verify_mode }}'
{% if gitlab_smtp_ca_path %}
gitlab_rails['smtp_ca_path'] = '{{ gitlab_smtp_ca_path }}'
{% endif %}
{% if gitlab_smtp_ca_file %}
gitlab_rails['smtp_ca_file'] = '{{ gitlab_smtp_ca_file }}'
{% endif %}
{% endif %}

{{ 'Backup configuration' | comment }}
gitlab_rails['manage_backup_path'] = {{ gitlab_manage_backup_path | string | lower }}
gitlab_rails['backup_path'] = '{{ gitlab_backup_path }}'
gitlab_rails['backup_archive_permissions'] = {{ gitlab_backup_archive_permissions }}
gitlab_rails['backup_pg_schema'] = '{{ gitlab_backup_pg_schema }}'
gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}

{{ 'Registry configuration' | comment }}
{% if gitlab_registry_external_url %}
registry_external_url '{{ gitlab_registry_external_url }}'
{% endif %}
{% if gitlab_registry_path %}
gitlab_rails['registry_path'] = '{{ gitlab_registry_path }}'
{% endif %}
{% if gitlab_registry_host %}
gitlab_rails['registry_host'] = '{{ gitlab_registry_host }}'
{% endif %}
{% if gitlab_registry_port %}
gitlab_rails['registry_port'] = {{ gitlab_registry_port }}
{% endif %}

registry['enable'] = {{ gitlab_registry_enabled | string | lower }}
{% if gitlab_registry_enabled %}
registry_nginx['enable'] = {{ gitlab_registry_nginx_enabled | string | lower }}
{%   if gitlab_registry_nginx_enabled %}
{%     if gitlab_registry_nginx_listen_port %}
registry_nginx['listen_port'] = {{ gitlab_registry_nginx_listen_port }}
{%     endif %}
registry_nginx['listen_https'] = {{ gitlab_registry_nginx_listen_https | string | lower }}
{%   endif %}
{% endif %}
